<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<string>使用NSDateFotmatter的setDateFormat:方法来定制日期对象的格式化字符串</string>
	<key>B</key>
	<string>Target/Action应用程序</string>
	<key>C</key>
	<string>创建一个to-do list应用程序，类似Excel表格</string>
	<key>D</key>
	<string>键值对</string>
	<key>E</key>
	<string>NSUndoManager</string>
	<key>F</key>
	<string>NSBezierPath</string>
	<key>G</key>
	<string>小菜和大鸟的编程故事（上集0</string>
</dict>
</plist>
